button {
  font-size: 25px;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: cyan;
}

thead {
  color: white;
  background-color: black;
}

tr:nth-child(even) {
  background-color: lightgray;
}
