#root {
  max-width: 1280px;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.circle {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.toggleButton {
  height: 15px;
  width: 30px;
}

.onoff {
  text-align: center;
}

.circle.on {
  transform: translateX(-10px);
}

.circle.off {
  transform: translateX(10px);
}
